*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    font-family:
        "Segoe UI",
        sans-serif;

    background:var(--cor-fundo);

    color:var(--cor-texto);

}

button{

    font:inherit;
    cursor:pointer;

}
